<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">

  <title>Ola i Zuzia</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:400,900|Odibee+Sans&display=swap&subset=latin-ext"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oxanium:400,700&display=swap&subset=latin-ext" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/welcoming.css">
  <link rel="stylesheet" href="/stylesheets/typewriter.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <div class="wrapper"></div>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/action.js"></script>
</body>

</html>